<script src={{ "/os_files/jquery.min.js" | relative_url }}></script>
<script src={{ "/os_files/bootstrap.min.js" | relative_url }}></script>
<script src={{ "/os_files/highlight.pack.js" | relative_url }}></script>
<script type="text/javascript" src={{ "/os_files/cssterm.js" | relative_url }}></script>
<script type="text/javascript" src={{ "/os_files/bootstrap-select.min.js" | relative_url }}></script>


<script type="text/javascript">
	//https://developer.mozilla.org/en-US/docs/Web/API/Clipboard/writeText
	async function writeClipboardText(ele, text) {
  	try {
    	await navigator.clipboard.writeText(text);
  		console.log("Copied!");
  		ele.textContent = "copied";
  		window.setTimeout((() => ele.textContent = "copy"), 1000);
  	} catch (error) {
    	console.error(error.message);
  	}
	}

	$(document).ready(function(){
		codeBlocks = document.querySelectorAll("pre");
		for (let i = 0; i < codeBlocks.length; ++i) {
			let myp = document.createElement("p");
			let myclasses = ["tw:m-0", "tw:flex", "tw:justify-end", "tw:text-end", "tw:text-white", "tw:text-sm", "tw:cursor-pointer", "tw:select-none"];
			for (let j = 0; j < myclasses.length; ++j) {
				myp.classList.add(myclasses[j]);
			}
			myp.textContent = "copy";
			myp.addEventListener('click', function() {
				writeClipboardText(this, this.parentElement.querySelector('code').textContent);
			});
			codeBlocks[i].prepend(myp);
		}
	}); // close out script


</script>
